@model AspnetCoreMvcFull.Models.AuthViewModel.ParentViewModel

@* <div class="mb-3 col-md-6">
    <label asp-for="child" class="form-label">Children</label>
    <input asp-for="child" type="date" class="form-control" id="children" name="Children" />
    <span asp-validation-for="child" class="text-danger"></span>
</div> *@
