@model AspnetCoreMvcFull.Models.AuthViewModel.CompositeViewModel

<div class="mb-3 col-md-6">
    <label asp-for="StudentVM.AdmissionDate" class="form-label"></label>
    <input asp-for="StudentVM.AdmissionDate" type="date" min="2000-01-01" value="2000-01-01" class="form-control" />
    <span asp-validation-for="StudentVM.AdmissionDate" class="text-danger"></span>
</div>

<div class="mb-3 col-md-6">
    <label asp-for="StudentVM.Class" class="form-label"></label>
    @Html.DropDownListFor(
            model => model.StudentVM.Class,
            (IEnumerable<SelectListItem>)ViewBag.Classes,
            "--No Selection--",
            new { @class = "form-control" }
            )
    <span asp-validation-for="StudentVM.Class" class="text-danger"></span>
</div>

<div class="mb-3 col-md-6">
    <label asp-for="StudentVM.Parent" class="form-label"></label>
    @Html.DropDownListFor(
            model => model.StudentVM.Parent,
            (IEnumerable<SelectListItem>)ViewBag.Parents,
            "--No Selection--",
            new { @class = "form-control" }
            )
    <span asp-validation-for="StudentVM.Parent" class="text-danger"></span>
</div>
