@model AspnetCoreMvcFull.Models.AuthViewModel.CompositeViewModel
<div class="mb-3 col-md-6">
    <label asp-for="TeacherVM.Subject" class="form-label"></label>
    @Html.DropDownListFor(
            model => model.TeacherVM.Subject,
            (IEnumerable<SelectListItem>)ViewBag.Subjects,
            "--No Selection--",
            new { @class = "form-control" }
            )
    <span asp-validation-for="TeacherVM.Subject" class="text-danger"></span>
</div>


