@{
  TempData.Keep();
  string? currentPage = ViewContext.HttpContext.Request.Path;
}

<!-- Menu -->
@* ! Do this simple *@
<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">

  @* ! Hide app brand if navbar-full *@
  <div
    class='app-brand demo @((@ViewData["navbarFull"] != null && Convert.ToBoolean(@ViewData["navbarFull"])) ? "d-xl-none" : "")'>
    <a asp-controller="Dashboards" asp-action="Index" class="app-brand-link">
      <span class="app-brand-logo demo">
        @await Html.PartialAsync("../_Partials/_Macros")
      </span>
      <span class="app-brand-text demo menu-text fw-bold ms-2">@TempData.Peek("appName")</span>
    </a>

    <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
      <i class="bx bx-chevron-left bx-sm align-middle"></i>
    </a>
  </div>

  <div class="menu-inner-shadow"></div>

  @* ! Full version menu-items *@
  <ul class="menu-inner py-1">
    <li class="mx-3 mt-2 menu-item">MAIN</li>
    <!-- Dashboards -->
    <li class='menu-item@(currentPage.EndsWith("/") || currentPage.StartsWith("/Dashboards/") ? " active open" : "")'>
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons bx bx-home-circle"></i>
        <div>Dashboard</div>
      </a>
      <ul class="menu-sub">
        <li class='menu-item@(currentPage == "/Dashboards/Admin" ? " active" : "")'>
          <a asp-controller="Dashboards" asp-action="Admin" class="menu-link">
          <div>Admin Dashboard</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/Dashboards/Teacher" ? " active" : "")'>
          <a asp-controller="Dashboards" asp-action="Teacher" class="menu-link">
             <div>Teacher Dashboard</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/Dashboards/Student" ? " active" : "")'>
          <a asp-controller="Dashboards" asp-action="Student" class="menu-link">
              <div>Student Dashboard</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/Dashboards/Parent" ? " active" : "")'>
          <a asp-controller="Dashboards" asp-action="Parent" class="menu-link">
             <div>Parent Dashboard</div>
          </a>
        </li>
      </ul>
    </li>

    <li class="mx-3 mt-2 menu-item">PEOPLE</li>
    <!-- Students -->
        <li class='menu-item@(currentPage.EndsWith("/") || currentPage.StartsWith("/Student/") ? " active open" : "")'>
        <a href="javascript:void(0);" class="menu-link menu-toggle">
            <i class="menu-icon tf-icons bx bx-dock-top"></i>
            <div>Students</div>
        </a>
        <ul class="menu-sub">
            <li class='menu-item@(currentPage == "/Student/Grid" ? " active" : "")'>
                <a asp-controller="Student" asp-action="Grid" class="menu-link">
                    <div>All Students</div>
                </a>
            </li>
            <li class='menu-item@(currentPage == "/Student/StudentList" ? " active" : "")'>
                <a asp-controller="Student" asp-action="StudentList" class="menu-link">
                    <div>Student List</div>
                </a>
            </li>
            <li class='menu-item@(currentPage == "/Student/Details" ? " active" : "")'>
                <a asp-controller="Student" asp-action="Details" class="menu-link">
                    <div>Student Details</div>
                </a>
            </li>
            <li class='menu-item@(currentPage == "/Student/Promotion" ? " active" : "")'>
                <a asp-controller="Student" asp-action="Promotion" class="menu-link">
                    <div>Student Promotion</div>
                </a>
            </li>
        </ul>
    </li>

    <!-- Pages -->
    <li class='menu-item@(currentPage.StartsWith("/UserManagement/Index") ? " active open" : "")'>
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons bx bx-dock-top"></i>
        <div>User Management</div>
      </a>
      <ul class="menu-sub">
        <li class='menu-item@(currentPage == "/UserManagement/Index" ? " active" : "")'>
          <a asp-controller="UserManagement" asp-action="Index" class="menu-link">
            <div>Users</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/UserManagement/Roles" ? " active" : "")'>
            <a asp-controller="SchoolManagement" asp-action="Class" class="menu-link">
                <div>Roles & Permissions</div>
            </a>
        </li>
      </ul>
    </li>
    <li class='menu-item@(currentPage.StartsWith("/SchoolManagement/School") ? " active open" : "")'>
        <a href="javascript:void(0);" class="menu-link menu-toggle">
            <i class="menu-icon tf-icons bx bx-dock-top"></i>
            <div>School Management</div>
        </a>
        <ul class="menu-sub">
            <li class='menu-item@(currentPage == "/SchoolManagement/School" ? " active" : "")'>
                <a asp-controller="SchoolManagement" asp-action="School" class="menu-link">
                    <div>School Setup</div>
                </a>
            </li>
                <li class='menu-item@(currentPage == "/SchoolManagement/Stream" ? " active" : "")'>
                    <a asp-controller="SchoolManagement" asp-action="Stream" class="menu-link">
                        <div>Stream Setup</div>
                    </a>
                </li>
                <li class='menu-item@(currentPage == "/SchoolManagement/Grade" ? " active" : "")'>
                    <a asp-controller="SchoolManagement" asp-action="Grade" class="menu-link">
                        <div>Grade Setup</div>
                    </a>
                </li>
                <li class='menu-item@(currentPage == "/SchoolManagement/Subject" ? " active" : "")'>
                    <a asp-controller="SchoolManagement" asp-action="Subject" class="menu-link">
                        <div>Subject Setup</div>
                    </a>
                </li>
        </ul>
    </li>
    <li class="menu-item">
        <a asp-controller="Schedule" asp-action="Index" class="menu-link">
            <i class="menu-icon tf-icons bx bx-home-circle"></i>
            <div>TimeTable</div>
        </a>
    </li>
  </ul>

</aside>
<!-- / Menu -->
