@model DataAccessLayer.Models.Stream

@{
    ViewData["Title"] = "School Management  - Edit Stream";
}

@section PageScripts {
    <script src="~/js/ui-toasts.js"></script>
}

@* ************** Content ************** *@
<h4 class="py-3 mb-4">
    <div class="d-flex flex-row justify-content-between align-items-center">
        <span><span class="text-muted fw-light">School Management /</span> Edit Stream</span>
        <a asp-controller="SchoolManagement" asp-action="Stream" class="btn btn-primary me-2">Back </a>
    </div>
</h4>

<div class="row">
    <div class="col-md-12">
        <div class="card mb-4">
            <h5 class="card-header">Stream Details</h5>
            <!-- School -->
            <div class="card-body">
                <form id="userAccount" method="POST" action="~/SchoolManagement/StreamEdit">
                    @Html.HiddenFor(model => model.Id)
                    <div class="row">
                        <div class="mb-3 col-md-6">
                            <label asp-for="StreamName" class="form-label"></label>
                            <input asp-for="StreamName" class="form-control" type="text" />
                            <span asp-validation-for="StreamName" class="text-danger"></span>
                        </div>
                        <div class="mb-3 col-md-6">
                            <label asp-for="School.SchoolName" class="form-label"></label>
                            @Html.DropDownListFor(
                                     model => model.SchoolId,
                                     (IEnumerable<SelectListItem>)ViewBag.Schools,
                                     "--No Selection--",
                                     new { @class = "form-control" }
                                     )
                            <span asp-validation-for="SchoolId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="mt-2">
                        <button type="submit" class="btn btn-primary me-2">Save</button>
                        <button type="reset" class="btn btn-outline-secondary">Cancel</button>
                    </div>
                </form>
            </div>
            <!-- /School -->
        </div>
    </div>
</div>


@if (TempData["Success"] != null && (bool)TempData["Success"] == true)
{
    <div class="bs-toast toast fade show bg-success" role="alert" aria-live="assertive" aria-atomic="true" style="position: fixed; top: 50%; left: 50%; transform:  translate(-50%, -50%); z-index: 1050;">
        <div class="toast-header">
            <i class='bx bx-bell me-2'></i>
            <div class="me-auto fw-medium">Add User</div>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            @TempData["Message"]
        </div>
    </div>
}
else if (TempData["Success"] != null && (bool)TempData["Success"] == false)
{
    <div class="bs-toast toast fade show bg-danger" role="alert" aria-live="assertive" aria-atomic="true" style="position: fixed; top: 50%; left: 50%; transform:  translate(-50%, -50%); z-index: 1050;">
        <div class="toast-header">
            <i class='bx bx-bell me-2'></i>
            <div class="me-auto fw-medium">Add User</div>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            @TempData["Message"]
        </div>
    </div>
}
